span.agda.comment { color: var(--vscode-agda-comment); }
span.agda.keyword { color: var(--vscode-agda-keyword); }
span.agda.string { color: var(--vscode-agda-string); }
span.agda.number { color: var(--vscode-agda-number); }
span.agda.hole { color: var(--vscode-agda-hole); }
span.agda.symbol { color: var(--vscode-agda-symbol); }
span.agda.primitiveType { color: var(--vscode-agda-primitiveType); }
span.agda.bound { color: var(--vscode-agda-bound); }
span.agda.generalizable { color: var(--vscode-agda-generalizable); }
span.agda.inductiveconstructor { color: var(--vscode-agda-constructorInductive); }
span.agda.coinductiveconstructor { color: var(--vscode-agda-constructorCoinductive); }
span.agda.datatype { color: var(--vscode-agda-datatype); }
span.agda.field { color: var(--vscode-agda-field); }
span.agda.function { color: var(--vscode-agda-function); }
span.agda.module { color: var(--vscode-agda-module); }
span.agda.postulate { color: var(--vscode-agda-postulate); }
span.agda.primitive { color: var(--vscode-agda-primitive); }
span.agda.record { color: var(--vscode-agda-record); }
span.agda.argument { color: var(--vscode-agda-argument); }
span.agda.macro { color: var(--vscode-agda-macro); }
span.agda.pragma { color: var(--vscode-agda-pragma); }
span.agda.subtree:hover { background-color: var(--vscode-editor-selectionHighlightBackground); }

span.agda.subtree.collapsed .children { display: none; }
span.agda.subtree.collapsed::before { content: '...'; }

div.sections {
  display: flex;
  flex-direction: column;

  gap: 0.5em;

  max-width: 100%;
  max-height: 100%;
}

div.lines {
  display: flex;
  flex-direction: column;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.section {
  width: 100%;
  gap: 0.75em;

  padding-inline: 0.5em;
  padding-block: 0.1ex;
  border-left: 3px solid var(--vscode-agda-function);
  box-sizing: border-box;

  background-color: var(--vscode-sideBar-background);

  overflow-y: auto;
}

.section-header {
  font-variant: small-caps;
}

summary.section-header::marker {
  font-size: 0.75em;
  text-align: center !important;
}

.section ul.entry-list {
  flex-direction: column;
  display: flex;

  list-style-type: none;

  padding-inline-start: 0;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

span.agda-container {
  white-space: pre-wrap;
  display: inline-block;
}

span.face {
  display: flex;
  gap: 1ex;
}

.out-of-scope span.agda {
  color: var(--vscode-agda-comment) !important;
}

.out-of-scope-label {
  float: right;
}

body, #container {
  max-height: 100vh;
  max-width: 100vh;
}

.running-info {
  display: flex;
  flex-direction: column;
}
.running-info span {
  white-space: pre-wrap;
}
